{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--hextra-navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        <div class="content">
          <div id="callback-success" hidden>
            <h1>{{ i18n "callbackSuccessTitle" }}</h1>
            <p>{{ i18n "callbackSuccessCopyCode" }}</p>
            <pre><code id="callback-code"></code></pre>
          </div>
          <div id="callback-failure" hidden>
            <h1>{{ i18n "callbackFailureTitle" }}</h1>
            <p>{{ i18n "callbackFailureCheckError" }}</p>
            <pre><code id="callback-error"></code></pre>
          </div>
        </div>
        <script>
          const params = Object.fromEntries(new URL(window.location.href).searchParams);
          if (params.code != null) {
            document.getElementById("callback-code").textContent = params.code;
            document.getElementById("callback-success").hidden = false;
          } else {
            document.getElementById("callback-error").textContent = JSON.stringify(params, null, 2);
            document.getElementById("callback-failure").hidden = false;
          }
        </script>
      </main>
    </article>
  </div>
{{ end }}
